#nombre{
    font-weight: bolder;
    margin-top: 20px;
    color: rgb(2, 21, 68);
}

#nua{
    font-style: italic;
    color: rgb(50, 50, 50);
}

#materia {
    color: rgb(40, 40, 117);
}

.contenido{
    display: flex;
    flex-direction: row;
}

.compras {
    width: 60%;
    height: 100%;
}

.productos {
    width: 40%;
    margin-top: 20px;
    margin-left: 50px;
    overflow-y: scroll;
    max-height: 100vh;
}